<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.text</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPX File</string>
			<key>UTTypeIconFile</key>
			<string>legacy-doc-icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>modern-doc-icon-fill</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.dt.document.gpx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gpx+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.text</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPX File</string>
			<key>UTTypeIconFile</key>
			<string>legacy-doc-icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>modern-doc-icon-fill</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.glacierpeakstudios.gpx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gpx+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.text</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPX File</string>
			<key>UTTypeIconFile</key>
			<string>legacy-doc-icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>modern-doc-icon-fill</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.berbie.documenttypes.gpx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gpx+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.text</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPX File</string>
			<key>UTTypeIconFile</key>
			<string>legacy-doc-icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>modern-doc-icon-fill</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.topographix.gpx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gpx+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.text</string>
				<string>public.data</string>
				<string>public.item</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPX File</string>
			<key>UTTypeIconFile</key>
			<string>legacy-doc-icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>modern-doc-icon-fill</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.gpx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gpx+xml</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPX File</string>
			<key>UTTypeIconFile</key>
			<string>legacy-doc-icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>modern-doc-icon-fill</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.topografix.gpx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.topografix.com/GPX/1/1</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gpx+xml</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/gpx+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GPX File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.gpx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GPX File</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/gpx+xml</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.topografix.gpx</string>
				<string>com.apple.dt.document.gpx</string>
				<string>com.glacierpeakstudios.gpx</string>
				<string>com.berbie.documenttypes.gpx</string>
				<string>com.topographix.gpx</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
</dict>
</plist>
